*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Roboto" , sans-serif;
}
body{
    background-color: #f7f9fd;
}
.wrapper{
    width: 90%;
    font-size:16px;
    max-width: 43.75em;
    margin:1em auto ;
    /* border: 1px solid red; */
}
.container{
    /* border: 1px solid yellow; */
    width:100%;
}
.sub-container{
    /* border: 1px solid green; */
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding: 5px;
}
.total-amount-container,
.user-amount-container{
    background-color: #fff;
    padding: 1.25em 0.8em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}
.hide{
    display:none; 
}
.error{
    color:#ff465a;
}
.flex{
    display: flex;
    align-items: center;
}
.flex-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper h3{
    color:#366d55;
    font-weight:500;
    margin-bottom: 0.6em;
}
.container input{
    border:1px solid #d0d0d0;
    display:block;
    margin-top: 0.8em;
    width: 100%;
    padding: 0.6em 0.3em;
    border-radius:0.3em;
    outline:none;
    font-weight:400;
    color:#414a67;
}
.container input:focus{
    border-color:#587ef4;
}
.submit{
    margin-top:1em;
    font-size: 1em;
    padding: 0.6em 1.2em;
    border: none;
    outline: none;
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 0.3em;
    cursor: pointer;
}
.output-container{
    background-color: #587ef4;
    color:#fff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
    margin: 2em 0;
    padding:1.2em;
}
.output-container p{
    font-weight: 400;
    margin-bottom: 0.6em;
}
.output-container span{
    display: block;
    text-align:center;
    font-weight: 400;
    color:#e5e5e5;
}
.list{
    background-color: #ffffff;
    padding:1.8em 1.2em ;
    border-radius: 0.6em;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);

}
.sublist-content{
    width: 100%;
    border-left: 0.3em solid #587ef4;
    margin-bottom: 0.6em;
    padding: 0.5em 0;
}
.product{
    font-weight: 500;
    margin-left: 1.5em;
    color: #366d55;
}
.amount{
    color:#414a67;
    margin-left:20%;
}
button{
    border: none;
    color: #587ef4;
    outline: none;
    border-radius: 0.3em;
    font-size: 0.6em;
    cursor: pointer;
    margin-right: 1.5em;
    background: transparent;
    text-align: center;
}

.delete{
    color: #ff465a;
}

@media screen and (max-width:600px){
    .wrapper{
        font-size: 14px;
    }
    .sub-container{
        grid-template-columns: 1fr;
    }
}